.media
  .media-left
    - if comment.user.avatar.present?
      = link_to image_tag(comment.user.avatar, class: "user-icon"), user_path(comment.user)
    - else
      = image_tag("noimage.png", alt: "No image", data: { holder: { rendered: true }, src: "holder.js/64x64" }, class: "user-icon")

  .media-body
    %h4#top-aligned-media.media-heading
      = comment.user.name
      %a.anchorjs-link{href: "#top-aligned-media"}
        %span.anchorjs-icon
    %p
      = comment.content
